@import '~styles/media-queries';
@import '~styles/animations';

$primary-color: #1565c0;
$primary-color-dark: #1356a3;
$disable: #a5a5a5;
$primary-color-light: rgba(21, 101, 192, 0.38);
$accent-color: #ffa726;
$white-color: #fff;
$grey-color: #757575;
$medium-grey-color: #a5a5a5;
$light-grey-color: #e0e0e0;
$x-light-grey-color: #fafafa;
$light-border-color: #d5d5d5;
